.home{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.col-4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;  /* Расстояние от низа */
  right: 20px;   /* Расстояние от правого края */
  background-color: #ff0000;  /* Цвет фона */
  color: rgb(0, 0, 0);  /* Цвет текста */
  border: none;
  padding: 12px 15px;
  border-radius: 20px;  /* Круглая форма */
  font-size: 14px;  /* Размер текста */
  cursor: pointer;


}

